* {
    box-sizing: border-box;
}

.body {
    display: flex;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 90vw;
}

.pannel {
    display: flex;
    height: 85vh;
    margin: 6px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    flex: 0.5;
    position: relative;
    cursor: pointer;
    transition: flex .7s ease-in;
}

.pannel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    color: white;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.pannel.active {
    flex: 5;
}

.pannel.active h3 {
    opacity: 1;
    transition: opacity 0.5 ease-in 0.4;
}

@media screen and (max-width: 450px) {
    .container {
        width: 100vw;
    }

    .pannel:nth-of-type(4), 
    .pannel:nth-of-type(5), 
    .pannel:nth-of-type(6) {
        display: none;
    }
}